<table class="destination__table">
  <thead class="destination__head">
    <tr>
      <th width="5%"></th>
      <th width="50%">氏名</th>
      <th width="40%">確認日時</th>
    </tr>
  </thead>
  <tbody class="destination__body">
    <% members.each do |member| %>
    <tr class="destination__item">
      <% if group_message.checked_by?(member) %>
        <td><%= "" %></td>
        <td class="destination__name"><%= "#{member.last_name} #{member.first_name}" %></td>
        <td class="destination__time"><%= l Check.find_by(member_id: member.id, group_message_id: group_message.id).created_at, format: :long %></td>
      <% else %>
        <td><p class="destination__item--red">未</p></td>
        <td class="destination__name"><%= "#{member.last_name} #{member.first_name}" %></td>
        <td class="destination__time"></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>