<% if group_message.checked_by?(current_member) %>
  <h4 class="links__title"><i class="fas fa-caret-right"></i>お知らせ詳細</h4>
<% else %>
  <h4 class="links__title--red"><i class="fas fa-caret-right"></i>お知らせ詳細</h4>
<% end %>