// Place all the styles related to the admin/members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.field {

  &__submit {
    margin-top: 15px;
  }
}

.file-field {
  display: inline-block;
  border: 2px solid #f0f0f0;
  border-radius: 5px;

  &__icon {
    width: 200px;
    height: 200px;
    text-align: center;
    padding-top: 50px;

    &--txt {
       font-size: 13px;
    }
  }
}

.file-field:hover {
  border: 2px solid #c3c3c3;
}

.members {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  box-shadow: 1px 2px 3px #c7c7c7;
}

.member {

  &__form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

    &--left {
      margin: 10px 30px 10px 10px;
      width: 20%;
    }

    &--right {
      width: 40%;
    }

    &--title {
      margin-top: 10px;
    }

    &--objective {
      width: 100%;
      height: 50px;
      resize: none;
      padding: 5px;
    }

    &--group {
      height: 25px;
    }

    &--name {
      width: 130px;
      margin-right: 7%;
      height: 25px;
      padding: 3px;
    }

    &--post {
      width: 100px;
      height: 25px;
      padding: 3px;
    }

    &--address {
      margin-top: 7px;
      width: 310px;
      height: 25px;
      padding: 3px;
    }

    &--email {
      width: 310px;
      height: 25px;
      padding: 3px;
    }

    &--phone {
      width: 150px;
      height: 25px;
      padding: 3px;
    }

    &--pass {
      width: 50%;
      height: 25px;
      margin-bottom: 7px;
      padding: 3px;
    }

    &--btn {
      font-size: 14px;
      font-weight: bold;
      padding: 3px 10px;
      color: #fff;
      width: 150px;
      height: 30px;
      cursor: pointer;
      background-color: #3d9254;
      border: 1px solid #008000;
      border-radius: 5%;
      letter-spacing: 0.3em;
    }

    &--btn:hover {
      font-size: 15px;
      font-weight: bold;
      padding: 3px 10px;
      color: #fff;
      width: 150px;
      height: 30px;
      cursor: pointer;
      background-color: #008000;
      border: 1px solid #008000;
      border-radius: 5%;
    }

  }

  &__data {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;

    &--left {
      width: 30%;
    }

    &--right {
      width: 70%;
    }
  }

  &__objective {
    height: 200px;
  }


}

// date_selectのclass
.year {
  width: 80px;
  height: 25px;
}

.month {
  margin-left: 5px;
  width: 50px;
  height: 25px;
}

.day {
  margin-left: 5px;
  width: 50px;
  height: 25px;
}

.skills {
  display: flex;

  &__acquired {
    width: 50%;
  }

  &__challenge {
    width: 50%;
  }
}

.memberData {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 380px 380px;
  padding: 10px;

  &__heading {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 15px;
  }

  &__heading::after {
    content: "";
    display: block;
    width: 80%;
    height: 2px;
    background: linear-gradient( to right, #EC715F 0%, #f7d5d0 100%);

  }

  &__item {
    background-color: #fff;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #c7c7c7;
    margin: 2px;
  }
}

.memberInfo {
  display: flex;

  &__img {
    margin-top: 10px;
    width: 30%;
  }

  &__data {
    margin-left: 20px;
    margin-top: 10px;
    width: 60%;
  }


  &__data table tr th {
    text-align: left;
    line-height: 2;
    width: 120px;
  }

  &__data table tr td {
    font-size: 14px;
  }
}

.memberObjec {
  padding: 10px;

  &__title {

  }

  &__text {
    padding-left: 10px;
    border-left: 1px solid #c3c3c3;
  }
}

.acquired {

  &__table {
    width: 100%;
    margin-top: 10px;
  }

  &__item {
    height: 40px;
    background-color: #fcfcfc;
  }

  &__item:nth-child(even) {
    background-color: #f0f0f0;
  }

  &__name {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 2.5;
    padding-left: 10px;
    text-decoration: none;
    color: #000;
  }

  &__name:hover {
    background-color: #a9ceec;
  }

  &__rank {
    text-align: center;
  }

  &__date {
    padding-left: 10px;
  }

  &__des {
    text-align: center;

    &--btn {
      font-size: 23px;
      color: #ed1c24;
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 5px;
      transition: 0.1s;
    }

    &--btn:hover {
      font-size: 25px;
    }
  }

  &__form {
    height: 40px;
    line-height: 40px;

    &--select {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 10px;
      width: 80%;
      height: 35px;
      vertical-align: middle
    }

    &--submit {
      display: inline-block;
      font-size: 28px;
      color: #00793d;
      background: none;
      border: none;
      transition: 0.1s;
      vertical-align: middle
    }

    &--submit:hover {
      font-size: 30px;
      cursor: pointer;
    }
  }
}

.challenge {

  &__table {
    width: 100%;
    margin-top: 10px;
  }

  &__item {
    height: 40px;
    background-color: #fcfcfc;
  }

  &__item:nth-child(even) {
    background-color: #f0f0f0;
  }

  &__name {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 2.5;
    padding-left: 10px;
    text-decoration: none;
    color: #000;
  }

  &__name:hover {
    background-color: #a9ceec;
  }

  &__rank {
    text-align: center;
  }

  &__date {
    padding-left: 10px;
  }

  &__des {
    text-align: center;

    &--btn {
      font-size: 23px;
      color: #ed1c24;
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 5px;
      transition: 0.1s;
    }

    &--btn:hover {
      font-size: 25px;
    }
  }

  &__form {
    height: 40px;
    line-height: 40px;

    &--select {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 10px;
      width: 80%;
      height: 35px;
      vertical-align: middle
    }

    &--submit {
      display: inline-block;
      font-size: 28px;
      color: #00793d;
      background: none;
      border: none;
      transition: 0.1s;
      vertical-align: middle
    }

    &--submit:hover {
      font-size: 30px;
      cursor: pointer;
    }
  }

  &__range {

    &--data {
      display: inline-block;
      width: 40px;
      font-size: 15px;
      font-weight: bold;
      padding-left: 10px;
    }

    &--form {
      width: 70%;
    }

    &--btn {
      font-size: 13px;
      color: #fff;
      padding: 2px 3px;
      background-color: green;
      border: none;
      border-radius: 5px;
      transition: 0.1s;
    }

    &--btn:hover {
      cursor: pointer;
      font-size: 15px;
    }
  }
}