// Place all the styles related to the admin/members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {

  &__member {
    margin: 0 auto;
  }

  &__title {
    margin-top: 20px;
  }

  &__item {
    margin: 20px auto;
  }
}

.member {

  &__form {
    display: flex;
    justify-content: center;
    width: 90%;

    &--left {

    }

    &--right {

    }
  }

  &__data {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;

    &--left {
      width: 30%;
    }

    &--right {
      width: 70%;
    }
  }

  &__objective {
    height: 200px;
  }


}

.skills {
  display: flex;

  &__acquired {
    width: 50%;
  }

  &__challenge {
    width: 50%;
  }
}