// Place all the styles related to the admin/skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.skill {

  &__form {
    width: 90%;
    margin: 0 auto;

    &--work-type {
      width: 20%;
      height: 25px;
      margin-top: 10px;
      margin-left: 20px;
    }

    &--name {
      width: 90%;
      height: 30px;
      margin-top: 10px;
      padding: 0.3em;
      margin-left: 20px;
    }

    &--rank {
      width: 10%;
      height: 25px;
      margin-top: 10px;
      margin-left: 20px;
    }

    &--body {
      padding: 0.3em;
      line-height: 1.2;
      width: 90%;
      height: 300px;
      margin-top: 10px;
      margin-left: 20px;
      resize: none;
    }

    &--terms {
      padding: 0.3em;
      line-height: 1.2;
      width: 90%;
      height: 50px;
      margin-top: 10px;
      margin-left: 20px;
      resize: none;
    }

    &--status {
      width: 60%;
      margin-top: 10px;
      margin-left: 20px;
    }

    &--btn {
      width: 15%;
      height: 30px;
      font-weight: bold;
      margin-top: 30px;
      margin-left: 20px;
      background-color: #fff;
      border: 3px solid #00ff00;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 1px #c3c3c3;
    }

    &--btn:hover {
      background-color: #e6e6e6;
      box-shadow: none;
      position: relative;
      top: 1px;
    }
  }

  &__item {
    margin-top: 20px;
  }
}

.skillContent {
  width: 100%;

  &__heading {
    width: 100%;
    margin: 0 auto;

    table {
      width: 90%;
      margin: 0 auto;
    }

    table, th, td {
      border: none;
    }

  th {
    background-color: #c3c3c3;
    }

  td {
    background-color: #fcfcfc;
    }
  }

  &__main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    &--left {
      width: 47%;
      margin: 0 auto;
    }

    &--right {
      width: 47%;
      margin: 0 auto;
    }
  }
}

.skillList {
  width: 90%;

  table, th, td {
    border: none;
  }

  &__table {
    width: 100%;
    margin: 0 auto;
  }

  &__head {
    background-color: #c3c3c3;
  }

  &__body {
    margin-top: 10px;
  }

  &__item {
    background-color: #fcfcfc;
  }

  &__item:nth-child(even) {
    background-color: #f2f2f2;
  }

  &__text {
    padding-left: 30px;

    &--center {
      text-align: center;
    }
  }
}