<div class="top">
  <div class="content">
    <h1 class="content__title">
      Progress<br>
      Hospitality
    </h1>
    <p class="content__text">
      より良い教育がより良いサービスへとつながる<br>
      従業員教育を手助けする店舗管理システム
    </p>
  </div>
  <div class="button">
    <%= link_to "管理者ログイン", new_admin_session_path, class: "button__admin" %>
    <%= link_to "メンバーログイン", new_member_session_path, class: "button__member" %>
  </div>
</div>
<div class="feature">
  <h2 class="feature__title">従業員のスキルの見える化</h2>
  <div class="feature__body function">
    <p class="function__text">
      店舗が従業員に正しい評価を行うため、<br>
      そして働く人が向上心を持つために<br>
      そんな思いをカタチにしたシステムです。
    </p>
    <div class="function__image"></div>
  </div>
  <ul class="feature__body functionList">
    <li class="functionList__item">
      <h4 class="functionList__title">スキルアップリクエスト</h4>
      <p class="functionList__text"></p>
    </li>
    <li class="functionList__item">
      <h4 class="functionList__title">スキル習得度グラフ</h4>
      <p class="functionList__text"></p>
    </li>
    <li class="functionList__item">
      <h4 class="functionList__title">必要スキルの公開</h4>
      <p class="functionList__text"></p>
    </li>
  </ul>
  <h2 class="feature__title">その他便利機能</h2>
  <div class="feature__body--gray function">
    <div class="function__body">
      <h4 class="function__title">シフト管理機能</h4>
      <p class="function__text">
        シフト希望の提出やシフトの作成、<br>
        作成したシフトの公開の機能が<br>
        すべて揃っています。
      </p>
    </div>
    <div class="function__image">
      <p>画像</p>
    </div>
  </div>
  <div class="feature__body--reverse function">
    <div class="function__body">
      <h4 class="function__title">連絡機能</h4>
      <p class="function__text">
        店舗から従業員への連絡だけでなく、<br>
        全員が使えるコメント機能や目を通したか確認できる<br>
        既読チェック機能が備わっています。
      </p>
    </div>
    <div class="function__image">
      <p>画像</p>
    </div>
  </div>
  <div class="feature__body--gray function">
    <div class="function__body">
      <h4 class="function__title">マニュアル・レシピ登録機能</h4>
      <p class="function__text">
        つい忘れがちなマニュアルやレシピの伝達。<br>
        登録・更新するだけでメンバーに通知される<br>
        システムで伝達漏れを防ぎます。
      </p>
    </div>
    <div class="function__image">
      <p>画像</p>
    </div>
  </div>
</div>


