<div class="top">
  <div class="content">
    <div class="content__head">
      <p class="content__head--txt">教育管理をより効率的に！接客レベルの向上を目指して</p>
      <h1 class="content__head--title"><span>P</span>rogress<span>H</span>ospitality</h1>
    </div>
    <div class="content__login">
      <div class="content__login--btn button">
        <%= link_to(new_admin_session_path, class: "button__admin") do %>
          <span><i class="fas fa-sign-in-alt"></i>管理者ログイン</span>
        <% end %>
      </div>
      <div class="content__login--btn button">
        <%= link_to(new_member_session_path, class: "button__member") do %>
          <span><i class="fas fa-sign-in-alt"></i>メンバーログイン</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="feature">
  <h2 class="feature__title">従業員教育の見える化を実現</h2>
  <div class="feature__body">
    <p class="feature__text">
      店舗が従業員に<span>正しい評価</span>を行うため、そして働く人が<span>向上心</span>を持つために、そんな思いをカタチにしたシステムです。<br>
      働く人のモチベーション・接客レベルの向上で<span>店舗の活性化とお客様の満足度UP</span>に繋がります。
    </p>
    <ul class="functionList">
      <li class="functionList__item">
        <h4 class="functionList__title">スキルアップリクエスト</h4>
        <p class="functionList__text">
          従業員の皆さんが習得したいスキルをリクエストする機能。
          一人ひとりが目標を持って取り組むことができる仕組みができます。
          働く人主体の教育システムでモチベーションアップ！
        </p>
      </li>
      <li class="functionList__item">
        <h4 class="functionList__title">スキル習得度見える化</h4>
        <p class="functionList__text">
          それぞれのスキルの習得度を数字で見える化。
          100%習得を目指しての教育計画を。
          また、スキルごとにランクをつけて熟練度を段階ごとに管理する機能も。
        </p>
      </li>
      <li class="functionList__item">
        <h4 class="functionList__title">必要スキルの公開</h4>
        <p class="functionList__text">
          「何を覚えればいいんだろう？」「頑張って時給を上げたい！」
          といった従業員の皆さんの気持ちを反映した機能。
          接客・作業レベルの向上へと繋げるために必要スキルを明確に。
        </p>
      </li>
      <li class="functionList__item">
        <h4 class="functionList__title">連絡機能</h4>
        <p class="functionList__text">
          店舗から従業員への連絡だけでなくメンバー全員が利用できるコメント機能も搭載。
          また確認済みかどうかが一目で分かる為、重要な連絡が確実に伝えられます。
        </p>
      </li>
      <li class="functionList__item">
        <h4 class="functionList__title">マニュアル・レシピ登録</h4>
        <p class="functionList__text">
          つい忘れがちなマニュアル・レシピを更新した際の伝達。
          メンバー全員が閲覧可能な管理システムで伝達漏れを防ぐことができます。
        </p>
      </li>
    </ul>
  </div>
</div>


