// Place all the styles related to the member/group_messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.commentList {

  &__item {
    display: flex;
    background-color: #fcfcfc;
    margin-bottom: 5px;
  }

  &__item:nth-child(even) {
    display: flex;
    background-color: #f2f2f2;
    margin-bottom: 5px;
  }

  &__comment {
    padding-left: 20px;
    padding-top: 10px;
    width: 80%;
  }

  &__info {
    font-size: 14px;
    width: 150px;
    padding-left: 20px;
    border-left: 1px solid #fff;
    margin: 5px;
  }

  &__delete {
    color: #000;
    background-color: #e6e6e6;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 0 5px;
  }

  &__form {
    resize: none;
    width: 500px;
    min-height: 150px;
    padding: 5px;

    &--btn {
      width: 120px;
      font-size: 13px;
      display: block;
      margin-bottom: 10px;
      padding: 2px 10px;
      text-align-last: justify;
      background-color: #e6e6e6;
      border: 1px solid #797979;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 599px) {
  .messageList {
    font-size: 13px;

    &__text {
      padding-left: 0;
    }

    &__date {
      &--1 {
        display: none;
      }

      &--2 {
        display: block;
      }
    }
  }

  .commentList {
    &__form {
      resize: none;
      width: 100%;
      min-height: 150px;
      padding: 5px;
    }
  }
}

