// Place all the styles related to the member/manuals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@media screen and (max-width: 599px) {
  .manualList {
    font-size: 13px;

    &__text {
      padding-left: 0;
    }

    &__date {
      &--1 {
        display: none;
      }

      &--2 {
        display: block;
      }
    }
  }
}