// Place all the styles related to the member/members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.addObjec {
  font-weight: bold;
  width: 50px;
  font-size: 14px;
  display: inline-block;
  padding: 2px 8px;
  background-color: #a9ceec;
  border: 1px solid #a9ceec;
  border-radius: 5px;
  text-align-last: justify;
  transition: 0.3s;
}

.addObjec:hover {
  cursor: pointer;
  background-color: #c3e9ff;
}

.objec-modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;

  &__bg {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    position: absolute;
    width: 100%;
  }

  &__title {
    text-align: center;
  }

  &__content {
    padding: 20px;
    background-color: #fff;
    width: 25%;
    height: 230px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
  }

  &__form {


    &--txt {
      font-size: 20px;
      height: 40px;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 20px;
      text-align: center;
      padding: 3px;
    }

    &--sub {
      font-weight: bold;
      height: 40px;
      margin: 30px auto 10px;
      display: block;
      border: 1px solid #a9ceec;
      border-radius: 10px;
      font-size: 10pt;
      text-align: center;
      padding: 5px 15px;
      background-color: #a9ceec;
      color: #000;
    }

    &--sub:hover {
      cursor: pointer;
      background-color: #fff;
    }
  }
}

.close-btn {
  display: inline-block;
  border: 1px solid #ff4d4d;
  border-radius: 5px;
  font-size: 10pt;
  text-align: center;
  padding: 5px 16px;
  background: #ff4d4d;
  color: #fff;
  text-align-last: justify;
}

.close-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 599px) {

  .memberData {
    display: block;

    &__item {
      min-height: 350px;
    }
  }

  .memberInfo {
    &__img {
      width: 25vh;
    }

    &__data table tr th{
      line-height: 1.5;
    }
  }

  .objec-modal {

    &__content {
      width: 70%;
    }
  }

  .member {

    &__form {
      display: block;

      &--left {
        margin: 10px auto;
        width: 60%;
      }

      &--right {
        margin: 10px auto;
        width: 60%;
      }
    }
  }
}