/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.header {
  height: 100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
  align-items: center;


  &__logo {
    font-size: 30px;
    width: 30%;
  }

  &__items {
    width: 70%;
  }
}

.nav {

  &__links {
    list-style: none;
    display: flex;
  }

  &__item {
    margin: 0 10px;
  }
}

.container {
  // background-color: #f0f0f0;

  &__links {
    width: 100%;
    margin: 0 auto;
    padding: 20px 10px;
  }

  &__logIn {
    width: 30%;
    margin: 150px auto;
  }

  &__element {

    &--center {
      margin: 0 auto;
    }
  }
}

.links {
  padding: 20px 10px;
  border: 1px solid #c3c3c3;
  border-radius: 2px;
  background-color: #fff;

  &__title {
    margin-bottom: 10px;

    &--red {
      color: red;
      margin-bottom: 10px;
    }
  }

  &__item {
    color: #000;
    display: inline-block;
    width: 120px;
    text-align-last: justify;
    font-size: 13px;
    margin-left: 10px;
    padding: 2px 10px;
    text-decoration: none;
    background-color: #e6e6e6;
    border: 1px solid #797979;
    border-radius: 3px;
  }
}

.logIn {
  padding: 20px;
  // background-color: #ade0ee;
  border: 1px solid #ade0ee;
  border-radius: 5px;


  &__title {
    text-align: center;
  }

  &__field {
    justify-content: center;

    &--email {
      width: 100%;
      text-align: center;
      margin: 20px auto;
    }

    &--pass {
      width: 100%;
      text-align: center;
      margin: 20px auto;
    }
  }

  &__actions {
    margin: 30px auto 20px;
    text-align: center;

    &--btn {
      font-weight: bold;
      color: #fff;
      background-color: #1254a1;
      padding: 7px 40px;
      border: 2px solid #1254a1;
      border-radius: 10px;
      transition: 0.3s;
    }

    &--btn:hover {
      background-color: #fff;
      color: #000;
    }
  }
}

body {
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}

.form {

  &__title {
    font-weight: 500;
  }

  &__email {
    width: 85%;
    height: 35px;
    padding: 0 3px;
  }

  &__pass {
    width: 85%;
    height: 35px;
    padding: 0 3px;
  }
}

.field {

  &__title {
    border-bottom: 1px solid #c3c3c3;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    padding: 5px 15px;
  }

  &__text {
    padding: 10px 20px;
    background-color: #fff;
  }
}