/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {

  &__logIn {
    width: 50%;
    margin: 150px auto;
  }

  &__element {

    &--center {
      margin: 0 auto;
    }
  }
}

.logIn {
  padding: 20px;
  background-color: #ade0ee;
  border-radius: 5px;

  &__title {
    text-align: center;
  }

  &__field {
    display: flex;
    justify-content: center;

    &--email {
      width: 50%;
      text-align: center;
      margin: 20px auto;
    }

    &--pass {
      width: 50%;
      text-align: center;
      margin: 20px auto;
    }
  }

  &__actions {
    margin: 20px auto;
    text-align: center;

    &--btn {
      font-weight: bold;
      background-color: #c7c7c7;
      padding: 7px 20px;
      border: 2px solid #000;
      border-radius: 5px;
    }
  }
}

.form {

  &__title {
    font-weight: 500;
  }

  &__email {
    width: 85%;
    height: 30px;
    padding: 0 3px;
  }

  &__pass {
    width: 85%;
    height: 30px;
    padding: 0 3px;
  }
}