// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.top {
  background-color: #009D5B;
  padding: 70px 50px 50px;
  height: 300px;
}

.content {
  display: flex;
  position: relative;

  &__title {
    color: #fff;
    font-style: italic;
    font-size: 40px;
  }

  &__text {
    color: #fff;
    font-weight: bold;
    margin: 20px auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 2px 2px #000;
  }
}

.button {
  text-align: center;

  &__admin {
    padding: 5px 20px;
    color: #000;
    font-weight: bold;
    border: 1px solid #f68b1f;
    border-radius: 5px;
    background-color: #f68b1f;
    text-decoration: none;
  }

  &__member {
    padding: 5px 20px;
    color: #000;
    font-weight: bold;
    border: 1px solid #f68b1f;
    border-radius: 5px;
    background-color: #f68b1f;
    text-decoration: none;
  }
}

.feature {

  &__title {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin-top: 50px;
    padding-left: 20px;
  }

  &__body {
    padding: 10px;
    margin: 0 auto;

    &--gray {
      background-color: #e7e7e7;
      padding: 10px;
    }

    &--reverse {
      display: flex;
      flex-flow: row-reverse;
    padding: 10px;
    }
  }
}

.function {
  width: 100%;
  display: flex;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  height: 300px;

  &__body {
    width: 50%;
  }

  &__title {
    color: #333c5e;
    padding-top: 20px;
    padding-left: 10px;
  }

  &__text {
    width: 90%;
    padding-top: 40px;
    padding-left: 30px;
  }

  &__image {
    width: 45%;
    height: 90%;
    border: 1px solid #c8c8c8;
    margin: auto;
  }
}

.functionList {
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 0;

  &__item {
    border: 1px solid #c8c8c8;
    width: 32%;
    height: 250px;
    list-style: none;
    margin-top: 20px;
    margin-left: 3%;
    box-shadow: 5px 5px 5px #c8c8c8;
    border-radius: 3px;
  }

  &__item:first-child {
    margin-left: 0;
  }

  &__title {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #333c5e;
    padding-top: 10px;
  }

  &__text {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 15px;
    line-height: 30px;
  }
}

