// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.top {
  background-color: #a9ceec;
  padding: 70px 50px 50px;
  height: 350px;
}

.content {

  &__head {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    padding: 10px 20px;
    position: relative;
    z-index: 1;


    &--txt {
      font-size: 20px;
      font-weight: bold;
    }

    &--title {
      font-size: 50px;
      font-style: italic;
    }

    &--title span {
      font-size: 60px;
      color: #1254a1;
    }
  }

  &__head::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    background-color: #fff;
    transform: skewX(-20deg);
    box-shadow: 5px 5px 5px #cecece;
    z-index: -1;
  }

  &__login {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    &--btn {
      margin: 0 15px;
    }
  }
}

.button {
  text-align: center;

  &__admin {
    padding: 15px 20px;
    color: #1254a1;
    font-weight: bold;
    border: 1px solid #ffde00;
    border-radius: 35px;
    background-color: #ffde00;
    text-decoration: none;
    transition: 0.3s;
  }

  &__admin:hover {
    background-color: #fff;
  }

  &__member {
    padding: 15px 18px;
    color: #fff;
    font-weight: bold;
    border: 1px solid #1254a1;
    border-radius: 35px;
    background-color: #1254a1;
    text-decoration: none;
    transition: 0.3s;
  }

  &__member:hover {
    background-color: #fff;
    color: #1254a1;
  }
}

.feature {

  &__title {
    width: 600px;
    color: #ec3f64;
    text-align: center;
    margin: 50px auto 0;
    font-size: 40px;
    // border-bottom: 2px solid #ccc;
    padding-left: 20px;
  }

  &__body {
    width: 100%;
    padding: 0px 50px 30px;
    margin: 0 auto;
    background-color: #a9ceec;
  }

  &__text {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
  }

  &__text span {
    font-size: 20px;
    color: #ec3f64;
  }
}

.heading {
  text-align: center;
  font-size: 35px;
  padding-top: 30px;
}

.heading::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  margin: 5px auto 0 auto;
  background-color: #EC715F;
}

.functionList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;

  &__item {
    background-color: #fff;
    width: 30%;
    height: 300px;
    list-style: none;
    margin-top: 20px;
    margin-left: 3%;
    border-radius: 10px;
  }

  &__item:hover {
    box-shadow: 5px 5px 5px #c8c8c8;
  }

  &__item:first-child {
    margin-left: 0;
  }

  &__item:nth-child(4) {
    margin-left: 0;
  }
  &__title {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    color: #1254a1;
    margin-top: 30px;
  }

  &__text {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    line-height: 30px;
  }
}

@media screen and (max-width: 599px) {
  .top {
    padding: 40px 20px;
    height: 300px;
  }

  .content {
    &__head {
      width: 90%;

      &--txt {
        font-size: 13px;
        font-weight: bold;
      }

      &--title {
        font-size: 30px;
        font-style: italic;
      }

      &--title span {
        font-size: 35px;
        color: #1254a1;
      }
    }
  }

  .button {
    &__admin {
      padding: 10px 13px;
      font-size: 0.8em;
    }

    &__member {
      padding: 10px 13px;
      font-size: 0.8em;
    }
  }

  .feature {
    width: 100%;

    &__title {
      width: 80%;
      font-size: 1.5em;
    }

    &__text {
      font-size: 0.8em;
    }

    &__text span {
      font-size: 1em;
      color: #ec3f64;
    }
  }

  .functionList {
    display: block;

    &__item {
      width: 80%;
      margin: 10px auto;
      height: 250px;
    }

    &__item:first-child {
      margin: 10px auto;
    }

    &__item:nth-child(4) {
      margin: 10px auto;
    }

    &__title {
      padding-top: 20px;
    }
  }
}